body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.my_btn_color {
    background-color:blueviolet;
}

.jumbotron {
    background-color:cadetblue;
}

h1 {
    color:white!important;
}

.my_icon_color {
    color:red;
}

.my_margin_bottom {
    margin-bottom: 30px;
}

.my_link:hover {
    text-decoration:none;
}

.my_link {
    color:black;
}

.general_spacing {
    margin-bottom:100px;
}